html,
body {
  background-color: #eee;
  font-family: Helvetica;
  font-size: 16px;
  padding: 1rem;
  margin: 0;
}
.coffee-machine {
  display: flex;
  flex-direction: column;
}
.coffee-machine-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.5rem;
  padding: 0;
  margin: 0;

  label {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0.2rem;
  }
  span,
  input,
  select{
    display: block;
    width: 50%;
    font-size: 1.5rem;
    text-align: center;
    padding: 0;
    border: 0;
    border-radius: 1rem;
  }
  span {
    text-align: left;
    padding: 0.3rem 0;
  }
  input,
  select {
    outline: 0;
    border: 0.01rem solid #ccc;
    transition: all 0.2s;
  }
  select {
    background: #5cab40;
    color: white;
  }
  option {
    color: white;
    background: #5cab40;
  }
  input[type=checkbox] {
    padding: 1rem;
    outline: 0.01rem solid #eee;
  }
  input[type=checkbox]:focus {
    outline: 0.01rem solid black;
  }
  input:focus {
    border: 0.01rem solid black;
  }
  select:focus {
    background: #5cab40 - 25;
    border-radius: 1rem 1rem 0 0;
    border-bottom: 0;
  }
  select {
    text-align-last: center;
  }
  .form-submit-button {
    background: white;
    color: black;
    padding: 0.5rem;
    border: 0.01rem solid #5cab40 - 50;
    margin-top: 2rem;
  }
  .form-submit-button:hover {
    background: #5cab40 - 50;
    color: white;
  }
  .acceptable-form-data {
    background: #5cab40;
    color: white;
  }
  .acceptable-form-data:hover {
    background: #5cab40 - 25;
  }
  .not-acceptable-form-data {
    background: #d9534f;
    color: white;
  }
  .not-acceptable-form-data:hover {
    background: #d9534f - 25;
  }
}
.coffee-log {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;

  li {
    border-bottom: 0.01rem solid black;
    margin: 0.2rem 0;
  }
  button {
    margin-left: 0.2rem;
  }
}
.italic {
  font-style: italic;
}
@media only screen and (min-width: 750px) {
  .coffee-machine-form {
    label {
      width: 50%;
    }
  }
}